$dark-blue: #222222;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$brown: #474040;
$dark-grey: #222224;
$light-grey: #9f9f9f;
$black: #000000;
$light: #fbfbfb;
$white-light: #e8e8e8;
$white: #ffffff;
$light-white: #f8f8f8;
$faded-carmine-pink: #ff6a6a;
$pale-pink: #f26376;
$gray: #e1e1e1;
$grayish-green: #5d5d5d;
